// ===========================
// Table of Contents
//
// 0.0 Setup, variables and mixins
// 1.0 Imports
//
// ===========================


// ===========================
// 0.0 Setup, variables and mixins
// ===========================

$color_primary_copy: #4A4A4A;
$color_primary_link: #E91E63;
$color_secondary_link: #3F51B5;

$font_family_primary:  "ff-tisa-web-pro", "Georgia", serif;
$font_family_secondary: "freight-sans-pro", "San Francisco Text", Helvetica, sans-serif;
$font_copy_size: 1.8rem;

$material-curve: cubic-bezier(.62,.28,.23,.99);

@mixin user-select($option: none) {
  // -webkit-user-select: $option;
  // -moz-user-select: $option;
  // -ms-user-select: $option;
  // -o-user-select: $option;
  user-select: $option;
}

@mixin font-smoothing(){
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin transition($type: all, $duration: .28s, $function: $material-curve){
  transition: $type $duration $function;
}

@mixin linear_gradient($first_color: rgba(0,0,0,0), $second_color:rgba(0,0,0,.25), $fallback_color: rgba(0,0,0,.3)){
  background: linear-gradient(to bottom,  $first_color 0%, $second_color 100%), $fallback_color; /* W3C */
}

// For displaying retina assets
// Pulled from @Stammy: http://paulstamatiou.com/responsive-retina-blog-development-part-2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
    @content;
  }
}

@mixin bg-size($width: auto, $height: 100%) { background-size: $width $height; }

// Silly function to divide the width and height to save me 2 seconds
// whenever I need to calculate the halved retina background position
@function double-pos($w, $h) { @return $w*2 $h*2; }


// For tabelts and mid-sized mobile devices. Typically 54em.
@mixin mq-tablet {
  @media (max-width: 54em) {
    @content;
  }
}

// For smartphones and personal (small) mobile devices. Typically 30em.
@mixin mq-personal {
  @media  (max-width: 30em) {
    @content;
  }
}



// ===========================
// 1.0 Imports
// ===========================

@import "layout/index";
@import "components/index";
@import "pages";
